<section data-ng-controller="CrudstoriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>My Stories</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="crudstory in crudstories" data-ng-href="#!/crudstories/{{crudstory._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="crudstory.created | date:'medium'"></span>
				by
				<span data-ng-bind="crudstory.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="crudstory.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!crudstories.$resolved || crudstories.length">
    	You haven't written any stories yet, why don't you <a href="/#!/crudstories/create">write one</a>?
    </div>
</section>